<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iread.font.dao.BookMapper">

<!-- public int isExistBook(@Param("uid") int uid,@Param("bid") int bid); -->
<select id="isExistBook"  resultType="int">
select my_id from mybooks where u_id = #{uid} and b_id = #{bid} limit 1
</select>
<!-- public int isExistBookInMyCart(@Param("uid") int uid,@Param("bid") int bid); -->
<select id="isExistBookInMyCart" resultType="int">
select ca_id from cart where  u_id = #{uid} and b_id = #{bid} limit 1
</select>
<!-- public boolean isBuyBook(@Param("id") int uid,@Param("bid") int bid); -->
<select id="isBuyBook" resultType="int">
select my_payment from mybooks where  u_id = #{id} and b_id = #{bid} limit 1
</select>

<!-- public int getPages(@Param("id") int bid); -->
<select id="getPages" resultType="int">
select b_limit from books where b_id = #{id}
</select>

<!-- public int getMaxId(@Param("page") int page,@Param("bid") int bid); -->
<select id="getMaxId" resultType="int">
select te_id from chapter where b_id = #{bid} limit #{page},1;
</select>

<resultMap type="com.iread.beans.domain.Chaper" id="chapter">
<id column="cha_id" property="id"/>
<result column="cha_name" property="name"/>
<result column="te_id" property="teid"/>
</resultMap>
<!-- public List<Chaper> getChaper(@Param("id") int bid); -->
<select id="getChaper" resultMap="chapter">
select cha_id,cha_name,te_id from chapter where b_id = #{id}
</select>

<resultMap type="com.iread.beans.domain.Text" id="text">
<id column="te_id" property="id"/>
<result column="te_text" property="text"/>
</resultMap>

<!-- public Text getText(@Param("id") int tid); -->
<select id="getText" resultMap="text">
select te_id,te_text from text where te_id = #{id}
</select>


<resultMap type="book" id="book">
	<id column="bid" property="id" />
	<result column="bname" property="title"/>
	<result column="bprice" property="price"/>
	<result column="bsummary" property="summary"/>
	<result column="breader" property="reader"/>
	<result column="bvaluator" property="valuator"/>
	<result column="bgrade" property="grade"/>
	<result column="btext" property="text"/>
	<result column="bcover" property="cover"/>
	<result column="bnum" property="num"/>
	<result column="bpayaway" property="payaway"/>
	<result column="soldout" property="bsoldout"/>
	<result column="blimit" property="limit"/>
	<result column="bsales" property="sales"/>
	
	<association property="writer" javaType="writer">
		<id column="wid" property="id"/>
		<result column="wname" property="name"/>
		<result column="wnum" property="num"/>
		<result column="wsummary" property="summary"/>
		<result column="wcover" property="cover"/>
		<result column="wgender" property="gender"/>
	</association>
	<association property="publish" javaType="publish">
		<id column="pid" property="id"/>
		<result column="pname" property="name"/>
		<result column="pnum" property="num"/>
		<result column="psummary" property="summary"/>
		<result column="pcover" property="cover"/>
	</association>
	<association property="nation" javaType="nation">
		<id column="nid" property="id"/>
		<result column="nname" property="name"/>
	</association>
	<association property="type" javaType="type">
		<id column="tid" property="id"/>
		<result column="tname" property="name"/>
		<result column="tclid" property="clazz.id"/>
	</association>
</resultMap>

<!-- public Book getBookInfo(@Param("id") int bid); -->
<select id="getBookInfo" resultMap="book">
select
			b.b_id as bid,
			b.b_name as bname,
			b.w_id as bwid,
			b.p_id as bpid,
			b.n_id as bnid,
			b.b_price as bprice,
			b.b_summary as bsummary,
			b.b_reader as breader,
			b.b_valuator as bvaluator,
			b.b_grade as bgrade,
			b.b_text as btext,
			b.b_cover as bcover,
			b.t_id as btid,
			b.b_num as bnum,
			b.b_payaway as bpayaway,
			b.b_soldout as bsoldout,
			b.b_limit as blimit,
			w.w_id as wid,
			w.w_name as wname,
			w.w_num as wnum,
			p.p_id as pid,
			p.p_name as pname,
			p.p_num as pnum,
			n.n_id as nid,
			n.n_name as nname,
			t.t_id as tid,
			t.t_name as tname,
			t.cl_id as tclid,
			b.b_sales as bsales,
			w.w_summary as wsummary,
			p.p_summary as psummary,
			p.p_cover as pcover,
			w.w_cover as wcover,
			w.w_gender as wgender
		from books b 
			inner join writer w on b.w_id = w.w_id
			inner join publish p on b.p_id = p.p_id
			inner join nation n on b.n_id = n.n_id
			inner join type t on b.t_id = t.t_id
		where b.b_id = #{id}
</select>

<!-- public void addReading(@Param("id") int bid); -->
<update id="addReading">
update books set b_reader = b_reader + 1 where b_id = #{id}
</update>

<!-- public void addSearch(@Param("ids") List<Integer> ids); -->
<update id="addSearch">
update books set b_search = b_search +1 where b_id in 
	<foreach collection="ids" item="bid" open="(" close=")" separator=",">
			 #{bid}
	</foreach>
</update>

</mapper>