<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iread.font.dao.RegisterUserMapper">
	
	<!-- public Integer regisetUser(@Param("name") String name, @Param("pass") String pass, @Param("email") String email); -->
	<!-- public Integer regisetUser(UserPo p); -->
	<insert id="regisetUser"  parameterType="com.iread.font.beans.po.UserPo" keyProperty="id" useGeneratedKeys="true" >
		insert into user (u_name,u_pass,u_email) value(#{name},#{pass},#{email})
	</insert>
	
	<!-- public Integer regisetInfo(UserInfomations info); -->
	<insert id="regisetInfo" parameterType="UserInfomations" >
		  insert into info(i_id,i_nickname,i_image,i_gender,i_aboutme,iden_id) 
		  value(#{id},#{nickName},#{imageUri},#{gender},#{aboutMe},#{iden.id})
	</insert>
	
</mapper>