<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iread.font.dao.SearchTypeMapper">

	<!-- public List<Integer> getIdsByGeneralType(@Param("tName")String tName); -->
	<select id="getIdsByGeneralType" resultType="int">
		select t_id from type where t_name like  CONCAT('%',#{tName},'%')
	</select>
</mapper>